In [2]:
import numpy as np
import pandas as pd

## 1.Loading Data

In [5]:
df= pd.read_csv("/home/jovyan/MonDossier/python 2026/datasets/aac_intakes.csv")
df

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

## 2.Inspecting Data Quickly

### Head

In [6]:
df.head(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

### Tail

In [7]:
df.tail(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

### Info on the DF

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80187 entries, 0 to 80186
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_intake   80187 non-null  object
 1   animal_id         80187 non-null  object
 2   animal_type       80187 non-null  object
 3   breed             80187 non-null  object
 4   color             80187 non-null  object
 5   datetime          80187 non-null  object
 6   datetime2         80187 non-null  object
 7   found_location    80187 non-null  object
 8   intake_condition  80187 non-null  object
 9   intake_type       80187 non-null  object
 10  name              55603 non-null  object
 11  sex_upon_intake   80186 non-null  object
dtypes: object(12)
memory usage: 7.3+ MB

In [9]:
df.describe()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
count,80187,80187,80187,80187,80187,80187,80187,80187,80187,80187,55603,80186
unique,46,72365,5,2166,529,57055,57055,36772,8,5,14731,5
top,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,2016-09-23T12:00:00.000,2016-09-23T12:00:00.000,Austin (TX),Normal,Stray,Bella,Intact Male
freq,14672,13,45743,23519,8340,64,64,14443,70520,56280,357,25488

In [11]:
df.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [12]:
df.sample()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
45882,2 months,A739006,Cat,Domestic Shorthair Mix,Brown Tabby/White,2016-11-26T11:39:00.000,2016-11-26T11:39:00.000,Old Lockhart Hwy & E Slaughter Ln in Austin (TX),Normal,Stray,NaN,Intact Male

In [17]:
df.columns

Index(['age_upon_intake', 'animal_id', 'animal_type', 'breed', 'color',
       'datetime', 'datetime2', 'found_location', 'intake_condition',
       'intake_type', 'name', 'sex_upon_intake'],
      dtype='object')

In [18]:
len(df)

80187

## 3.Selecting Data

### iloc

In [30]:
df.iloc[-4:,:]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [27]:
df.iloc[1,0] #row 0 , col 1

'11 months'

In [28]:
df.iloc[0:7,:]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
5,2 years,A708452,Dog,Labrador Retriever Mix,Black/White,2015-07-30T14:37:00.000,2015-07-30T14:37:00.000,Austin (TX),Normal,Public Assist,Mumble,Intact Male
6,5 months,A731435,Cat,Domestic Shorthair Mix,Cream Tabby,2016-08-08T17:52:00.000,2016-08-08T17:52:00.000,Austin (TX),Normal,Owner Surrender,*Casey,Neutered Male

### loc

In [23]:
df.loc[4,"animal_id"]

'A743852'

In [31]:
df[['animal_id','color']].iloc[0:5,:]

  animal_id        color
0   A706918  White/Liver
1   A724273  Sable/White
2   A665644       Calico
3   A682524     Tan/Gray
4   A743852    Chocolate

In [15]:
df[["breed"]]

                                        breed
0                    English Springer Spaniel
1                                 Basenji Mix
2                      Domestic Shorthair Mix
3       Doberman Pinsch/Australian Cattle Dog
4                      Labrador Retriever Mix
...                                       ...
80182                               Boxer Mix
80183  Dachshund Wirehair/Chihuahua Shorthair
80184                                 Bat Mix
80185         German Shepherd/Black/Tan Hound
80186              Chihuahua Shorthair/Beagle

[80187 rows x 1 columns]

In [16]:
df[["breed", "color"]]

                                        breed            color
0                    English Springer Spaniel      White/Liver
1                                 Basenji Mix      Sable/White
2                      Domestic Shorthair Mix           Calico
3       Doberman Pinsch/Australian Cattle Dog         Tan/Gray
4                      Labrador Retriever Mix        Chocolate
...                                       ...              ...
80182                               Boxer Mix    Brown Brindle
80183  Dachshund Wirehair/Chihuahua Shorthair  Chocolate/White
80184                                 Bat Mix            Brown
80185         German Shepherd/Black/Tan Hound      Black/Brown
80186              Chihuahua Shorthair/Beagle              Tan

[80187 rows x 2 columns]

### Boolean mask

In [32]:
df["breed"]== "Bat Mix"

0        False
1        False
2        False
3        False
4        False
         ...
80182    False
80183    False
80184     True
80185    False
80186    False
Name: breed, Length: 80187, dtype: bool

In [34]:
mask = df["breed"]== "Bat Mix"
df.loc[mask, ]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
19,1 year,A722979,Other,Bat Mix,Brown,2016-03-24T16:39:00.000,2016-03-24T16:39:00.000,4100 Westbank Dr in Austin (TX),Normal,Wildlife,NaN,Unknown
69,1 year,A695485,Other,Bat Mix,Brown,2015-01-16T16:11:00.000,2015-01-16T16:11:00.000,12120 Manchaca Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
102,2 years,A675001,Other,Bat Mix,Brown,2014-03-21T12:37:00.000,2014-03-21T12:37:00.000,4100 Westbank Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
158,1 year,A726078,Other,Bat Mix,Brown,2016-05-05T19:38:00.000,2016-05-05T19:38:00.000,9509 Nightstar Dr in Del Valle (TX),Normal,Wildlife,NaN,Unknown
184,1 year,A755283,Other,Bat Mix,Brown,2017-07-31T20:06:00.000,2017-07-31T20:06:00.000,7330 Bluff Springs in Austin (TX),Normal,Wildlife,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
80005,1 year,A768917,Other,Bat Mix,Brown,2018-03-27T12:32:00.000,2018-03-27T12:32:00.000,1900 Simond Avenue in Austin (TX),Normal,Wildlife,NaN,Unknown
80033,1 year,A768955,Other,Bat Mix,Brown,2018-03-27T18:46:00.000,2018-03-27T18:46:00.000,2520 Elmont in Austin (TX),Normal,Wildlife,NaN,Unknown
80054,1 year,A768963,Other,Bat Mix,Brown,2018-03-28T09:42:00.000,2018-03-28T09:42:00.000,8509 969 Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown

In [19]:
df[df["breed"]== "Bat Mix"]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
19,1 year,A722979,Other,Bat Mix,Brown,2016-03-24T16:39:00.000,2016-03-24T16:39:00.000,4100 Westbank Dr in Austin (TX),Normal,Wildlife,NaN,Unknown
69,1 year,A695485,Other,Bat Mix,Brown,2015-01-16T16:11:00.000,2015-01-16T16:11:00.000,12120 Manchaca Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
102,2 years,A675001,Other,Bat Mix,Brown,2014-03-21T12:37:00.000,2014-03-21T12:37:00.000,4100 Westbank Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
158,1 year,A726078,Other,Bat Mix,Brown,2016-05-05T19:38:00.000,2016-05-05T19:38:00.000,9509 Nightstar Dr in Del Valle (TX),Normal,Wildlife,NaN,Unknown
184,1 year,A755283,Other,Bat Mix,Brown,2017-07-31T20:06:00.000,2017-07-31T20:06:00.000,7330 Bluff Springs in Austin (TX),Normal,Wildlife,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
80005,1 year,A768917,Other,Bat Mix,Brown,2018-03-27T12:32:00.000,2018-03-27T12:32:00.000,1900 Simond Avenue in Austin (TX),Normal,Wildlife,NaN,Unknown
80033,1 year,A768955,Other,Bat Mix,Brown,2018-03-27T18:46:00.000,2018-03-27T18:46:00.000,2520 Elmont in Austin (TX),Normal,Wildlife,NaN,Unknown
80054,1 year,A768963,Other,Bat Mix,Brown,2018-03-28T09:42:00.000,2018-03-28T09:42:00.000,8509 969 Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown

In [35]:
df.loc[df['color'].isin(['Brown', 'White/liver']), :]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
19,1 year,A722979,Other,Bat Mix,Brown,2016-03-24T16:39:00.000,2016-03-24T16:39:00.000,4100 Westbank Dr in Austin (TX),Normal,Wildlife,NaN,Unknown
69,1 year,A695485,Other,Bat Mix,Brown,2015-01-16T16:11:00.000,2015-01-16T16:11:00.000,12120 Manchaca Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
94,6 months,A740584,Dog,Pit Bull Mix,Brown,2016-12-19T17:10:00.000,2016-12-19T17:10:00.000,20412 Keilman Ln in Travis (TX),Normal,Stray,NaN,Intact Female
101,1 year,A758183,Dog,Labrador Retriever Mix,Brown,2017-09-12T14:43:00.000,2017-09-12T14:43:00.000,7901 Metrololis Dr in Austin (TX),Normal,Stray,*Fletcher,Intact Male
102,2 years,A675001,Other,Bat Mix,Brown,2014-03-21T12:37:00.000,2014-03-21T12:37:00.000,4100 Westbank Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
80132,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-28T16:15:00.000,2018-03-28T16:15:00.000,Austin (TX),Normal,Owner Surrender,*Carlisle,Neutered Male
80134,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-23T10:23:00.000,2018-03-23T10:23:00.000,3210 East Martin Luther King Boulevard in Aust...,Normal,Stray,*Carlisle,Intact Male
80137,1 year,A769038,Dog,Dachshund Mix,Brown,2018-03-29T12:09:00.000,2018-03-29T12:09:00.000,5203 Bogey Court in Austin (TX),Normal,Stray,Jordan,Intact Male
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown

In [42]:
columns = ['breed', 'color','intake_type']
df.loc[(df['animal_type'] == "Dog") & (df['sex_upon_intake']=='Spayed Female'), columns]

                            breed            color      intake_type
0        English Springer Spaniel      White/Liver            Stray
15     Parson Russell Terrier Mix      Black/White            Stray
28                   Pit Bull Mix      Black/White            Stray
30         Miniature Pinscher Mix  Chocolate/Brown            Stray
65         Labrador Retriever Mix        Tan/White            Stray
...                           ...              ...              ...
80138                 Basenji Mix        Tan/White  Owner Surrender
80157         German Shepherd Mix      Black/Brown  Owner Surrender
80159         Chihuahua Shorthair    Chocolate/Tan            Stray
80179     Chihuahua Shorthair Mix    Brown Brindle  Owner Surrender
80182                   Boxer Mix    Brown Brindle            Stray

[8091 rows x 3 columns]

### Or

In [36]:
df.loc[(df['breed'] == 'Bat Mix') | (df['color'] == 'Brown'), :]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
19,1 year,A722979,Other,Bat Mix,Brown,2016-03-24T16:39:00.000,2016-03-24T16:39:00.000,4100 Westbank Dr in Austin (TX),Normal,Wildlife,NaN,Unknown
69,1 year,A695485,Other,Bat Mix,Brown,2015-01-16T16:11:00.000,2015-01-16T16:11:00.000,12120 Manchaca Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
94,6 months,A740584,Dog,Pit Bull Mix,Brown,2016-12-19T17:10:00.000,2016-12-19T17:10:00.000,20412 Keilman Ln in Travis (TX),Normal,Stray,NaN,Intact Female
101,1 year,A758183,Dog,Labrador Retriever Mix,Brown,2017-09-12T14:43:00.000,2017-09-12T14:43:00.000,7901 Metrololis Dr in Austin (TX),Normal,Stray,*Fletcher,Intact Male
102,2 years,A675001,Other,Bat Mix,Brown,2014-03-21T12:37:00.000,2014-03-21T12:37:00.000,4100 Westbank Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
80132,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-28T16:15:00.000,2018-03-28T16:15:00.000,Austin (TX),Normal,Owner Surrender,*Carlisle,Neutered Male
80134,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-23T10:23:00.000,2018-03-23T10:23:00.000,3210 East Martin Luther King Boulevard in Aust...,Normal,Stray,*Carlisle,Intact Male
80137,1 year,A769038,Dog,Dachshund Mix,Brown,2018-03-29T12:09:00.000,2018-03-29T12:09:00.000,5203 Bogey Court in Austin (TX),Normal,Stray,Jordan,Intact Male
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown

### AND

In [22]:
df[(df["breed"]== "Bat Mix")& (df["age_upon_intake"]== "1 year")].head(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
19,1 year,A722979,Other,Bat Mix,Brown,2016-03-24T16:39:00.000,2016-03-24T16:39:00.000,4100 Westbank Dr in Austin (TX),Normal,Wildlife,NaN,Unknown
69,1 year,A695485,Other,Bat Mix,Brown,2015-01-16T16:11:00.000,2015-01-16T16:11:00.000,12120 Manchaca Rd in Austin (TX),Normal,Wildlife,NaN,Unknown
158,1 year,A726078,Other,Bat Mix,Brown,2016-05-05T19:38:00.000,2016-05-05T19:38:00.000,9509 Nightstar Dr in Del Valle (TX),Normal,Wildlife,NaN,Unknown
184,1 year,A755283,Other,Bat Mix,Brown,2017-07-31T20:06:00.000,2017-07-31T20:06:00.000,7330 Bluff Springs in Austin (TX),Normal,Wildlife,NaN,Unknown
267,1 year,A734264,Other,Bat Mix,Red,2016-09-03T15:11:00.000,2016-09-03T15:11:00.000,10000 Research Blvd in Austin (TX),Normal,Wildlife,NaN,Unknown

### ANY vs ALL

In [39]:
(df['color'] == 'Calico').any() or (df['color'] == 'Tan/Gray').any()

True

## 4.Sorting values

In [44]:
df["color"].sort_values()

63991           Agouti
9930            Agouti
69898           Agouti
25791           Agouti
37858           Agouti
             ...
56748     Yellow/White
14160     Yellow/White
34918     Yellow/White
33400     Yellow/White
66293    Yellow/Yellow
Name: color, Length: 80187, dtype: object

In [49]:
df.sort_values(by="color")

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
63991,2 years,A734409,Dog,Siberian Husky Mix,Agouti,2016-09-06T11:45:00.000,2016-09-06T11:45:00.000,5411 Gregg Ln in Manor (TX),Normal,Stray,Halti,Intact Male
9930,2 years,A721282,Dog,Siberian Husky Mix,Agouti,2016-02-24T13:01:00.000,2016-02-24T13:01:00.000,600 W William Cannon Dr in Austin (TX),Normal,Stray,Sunna,Spayed Female
69898,8 months,A744737,Dog,Siberian Husky Mix,Agouti,2017-03-17T13:52:00.000,2017-03-17T13:52:00.000,Austin (TX),Normal,Owner Surrender,Ellie,Spayed Female
25791,3 years,A709412,Cat,Domestic Shorthair Mix,Agouti,2015-08-08T14:55:00.000,2015-08-08T14:55:00.000,18001 Powder Creek Dr in Manor (TX),Normal,Stray,Gia,Spayed Female
37858,1 year,A753374,Cat,Domestic Shorthair Mix,Agouti,2017-07-05T14:57:00.000,2017-07-05T14:57:00.000,Mesa Dr And Hyridge Dr in Austin (TX),Normal,Stray,*Ellie,Intact Female
...,...,...,...,...,...,...,...,...,...,...,...,...
56748,5 years,A697913,Dog,American Staffordshire Terrier Mix,Yellow/White,2016-04-10T13:02:00.000,2016-04-10T13:02:00.000,Austin (TX),Normal,Owner Surrender,Blake,Neutered Male
14160,1 year,A699042,Dog,Labrador Retriever Mix,Yellow/White,2015-03-21T16:03:00.000,2015-03-21T16:03:00.000,E Rundberg Ln & Crown Ridge Rd in Austin (TX),Normal,Stray,*Frankie,Neutered Male
34918,2 years,A732679,Dog,American Pit Bull Terrier Mix,Yellow/White,2016-08-11T17:23:00.000,2016-08-11T17:23:00.000,3840 Far West Blvd in Austin (TX),Normal,Stray,*Fiona,Intact Female
33400,9 months,A755635,Dog,Labrador Retriever/Jack Russell Terrier,Yellow/White,2017-08-06T13:53:00.000,2017-08-06T13:53:00.000,Metric And Bittern Hollow in Travis (TX),Normal,Stray,*Zorro,Intact Male
66293,1 year,A698632,Dog,Finnish Spitz,Yellow/Yellow,2015-03-17T13:33:00.000,2015-03-17T13:33:00.000,Austin (TX),Normal,Public Assist,Nalu,Intact Female

In [50]:
df.sort_values(by="animal_id", ascending = False)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80172,5 months,A769066,Dog,Labrador Retriever Mix,Black/White,2018-03-29T18:19:00.000,2018-03-29T18:19:00.000,12034 Research Blvd Sb in Austin (TX),Normal,Stray,NaN,Intact Male
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80173,9 years,A769063,Dog,Australian Shepherd Mix,Blue Merle,2018-03-29T16:42:00.000,2018-03-29T16:42:00.000,Outside Jurisdiction,Normal,Stray,Blue,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
56590,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,2013-11-16T09:02:00.000,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Injured,Public Assist,Bandit,Neutered Male
41605,10 years,A047759,Dog,Dachshund,Tricolor,2014-04-02T15:55:00.000,2014-04-02T15:55:00.000,Austin (TX),Normal,Owner Surrender,Oreo,Neutered Male
53542,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-03-07T14:26:00.000,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Normal,Public Assist,Scamp,Neutered Male
12291,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Scamp,Neutered Male
2652,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male

## 5.Modifying Data

### Renaming Columns

In [64]:
df.rename(columns={"sex_upon_intake": "sex"}, inplace=True)

### Changing Data Type

In [ ]:
df["age_upon_intake"]=df["age_upon_intake"].astype("string")

In [70]:
df["datetime"]= pd.to_datetime(df["datetime"], errors='coerce')

### Adding a new column

In [ ]:
df["age_number"]=df["age_upon_intake"].str.split().str[0]
df["year/month"]=df["age_upon_intake"].str.split().str[1]
df["age_number"]=df["age_number"].astype("int")

## 6. Aggregations

In [55]:
df["name"].value_counts()

Bella         357
Max           335
Luna          261
Daisy         241
Rocky         238
             ...
*Bluebeard      1
Coco Paws       1
Winnebago       1
*Ike            1
Rafael          1
Name: name, Length: 14731, dtype: int64

In [63]:
df["age_number"].mean()

3.4656241036577002

In [65]:
df["age_number"].agg(["min", "max"])

min     0
max    25
Name: age_number, dtype: int64

In [66]:
df["age_number"].agg(["mean", "median", "std", "min", "max"])

mean       3.465624
median     2.000000
std        2.928444
min        0.000000
max       25.000000
Name: age_number, dtype: float64